<div class="jumbotron text-center " style="height: 50px">
        <div id="header" class="row">
            <div class="col-sm-1 ">
                <span class="loo ">App Logo</span>
            </div>
            <div class="col-sm-1 ">
                    <div id="ex4">
                            <span class="p1 fa-stack fa-2x has-badge ">
                            <!--<i class="p2 fa fa-circle fa-stack-2x"></i>-->
                            <a > <i class="p3 fa fa-shopping-cart fa-stack-1x xfa-inverse" ></i></a>
                            </span>
                    </div>
            </div>
            <div class="col-sm-8 ">

            </div>
            <div class="col-sm-2 ">
                <div class="dropdown">
                    <button class="btn btn-info dropdown-toggle" type="button" data-toggle="dropdown">USER
                    <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        <li><a href="#">My Order</a></li>
                        <li><a href="#">Logout</a></li>
                    </ul>
                </div>
            </div>
        </div>
</div>
<div class="container">
    <app-item></app-item>
</div>

